body {
  background-color: rgb(31, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exercise-divider {
  color: white;
}
.text-container {
  height: 10rem;
  width: 20rem;
}
button {
  background-color: #fffffff0;
  border: 2px solid #000000;
  color: black;
  border-radius: 5px;
  padding: 5px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  width: 11rem;

  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #000000;
  color: white;
  transform: skewY(-2deg);

  transition: all 0.3s ease 0s;
  text-shadow: 1px 2px 8px #f00;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 1rem;
}
a:hover {
  color: #db6797a6;
}
.notes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50rem;

  margin-top: 1rem;
  gap: 3rem;
  color: rgb(0, 255, 115);
}
.important-note {
  color: rgb(255, 0, 140);
}
.note {
  width: 15rem;
}
