.firstdiv {
  background-color: yellow;
}
#testId {
  color: red;
}

img {
  padding: 0.5em;
  margin: 1em;
  background-color: blue;
  width: 30rem;
}

table {
  border-collapse: collapse;
}
table td,
th {
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #d2d2d2;
}

li:nth-child(odd) {
  color: purple;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
}
.flex-item {
  background-color: aqua;
  height: 5rem;
  width: 50rem;
  border: black 1px solid;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;

  background-color: cadetblue;
}
.grid-item {
  border: 1px solid black;
  height: 5rem;
}
