body {
  background-color: #2b2a2a;
  font-family: Arial, sans-serif;
}
.first {
  color: #f9f9f9;
}
.image-container {
  width: 20rem;
  background-color: #23238a;
  border: 20px solid #23238a;
  text-align: center;
  color: white;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.assignment {
  color: chocolate;
}

table {
  border-collapse: collapse;
  width: 40rem;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

.book-list-container {
  max-width: 400px;
  margin: 3rem 5rem;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.book-list-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.book-list-books {
  list-style-type: none;
  padding: 0;
}

.book-list-book {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.book-list-book p {
  margin: 0;
}

.book-list-book h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.book-list-book span {
  font-weight: bold;
}

.book-list-add-book-form {
  margin-top: 20px;
}

.book-list-add-book-form label {
  display: block;
  margin-bottom: 5px;
}

.book-list-add-book-form input {
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}

.book-list-add-book-form button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.book-list-add-book-form button:hover {
  background-color: #0056b3;
}
