body {
  background-color: rgb(31, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.exercise-divider {
  color: white;
}
