button {
  background-color: #f5a623;
  border: 5px solid #ac1c22;
  color: black;
  border-radius: 5px;
  padding: 15px 66px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
.show-hide-button {
  display: block;
}
