body {
  background-color: rgb(31, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exercise-divider {
  color: white;
}
.text-container {
  height: 10rem;
  width: 20rem;
}
button {
  background-color: #f5a623;
  border: 5px solid #000000;
  color: black;
  border-radius: 5px;
  padding: 15px 66px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
input {
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 1rem;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bingo-container {
  display: flex;
  flex-wrap: wrap;
  width: 45rem;
  position: relative;
}

.bingo-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 6rem;
  border: 1px solid white;
  background-color: rgb(233, 70, 106);
}
.active {
  background-color: rgb(138, 218, 138);
}
span {
  font-size: 5.5rem;
  font-weight: bold;
  color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  border: 11px solid black;
}
.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: #f5a623;
}
