body {
  background-color: rgb(31, 29, 29);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.exercise-divider {
  color: white;
}
.text-container {
  height: 10rem;
  width: 20rem;
}
button {
  background-color: #ff0909;
  border: 2px solid #000000;
  text-shadow: 1px 2px 8px rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
  padding: 5px 33px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 600;
  width: 11rem;
  box-shadow: -3px 4px 3px rgb(255, 255, 255);
  margin: 4px 2px;
  cursor: pointer;
}
button:hover {
  background-color: #000000;
  color: white;
  transform: skewY(-2deg);

  transition: all 0.3s ease 0s;
  text-shadow: 1px 2px 8px #f00;
}

.todo-text {
  width: 15rem;
  font-size: 24px;
}
.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1000px;
  background-color: #ff1010;
  margin: 2rem;
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="text"] {
  width: 15rem;
  height: 2rem;
  font-size: 24px;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 5px;
  margin: 1rem;
}

input[type="checkbox"] {
  width: 3rem;
  height: 3rem;
  accent-color: #f5a623;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 0.25rem solid white;
  border-radius: 0.5rem;
}
input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;

  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  transform: scale(0);
  background-color: rgb(245, 245, 245);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  color: black;
}

.todoNote {
  display: flex;
  background: linear-gradient(
    90deg,
    rgb(5, 133, 61) 0%,
    rgb(255, 255, 255) 100%
  );
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.todoNote.todo-completed {
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgba(98, 64, 79, 0.5) 100%
  );
}
